<div class="container">
<div class="container">
<div class="container">
    <div class="container">
        <div class="container">
    
<form>
    <fieldset>
    <legend>Customer Sign Up page</legend>
       
    <div >
        <label>Customer Type: </label>
        <input name="Customer Type" class="form-control" placeholder="Customer Type">
    </div>
      <div class="form-group">
        <label>Customer Number: </label>
        <input type="number" name="Customer Number" class="form-control" placeholder="Customer Number">
    </div>


   
    <div class="form-group">
        <label>Billing Unit: </label>
        <input name="Billing Unit" class="form-control" placeholder="Billing Unit">
    </div>


    <div class="form-group">
        <label>Full Name: </label>
         <input name="Full Name" class="form-control" placeholder="Full Name">
    </div>

    <div class="form-group">
        <label>Address: </label>
         <input name="Address" class="form-control" placeholder="Address">
    </div>

    <div class="form-group">
        <label> Email: </label>
       <input type="email" class="form-control" placeholder="Email">
    </div>

    <div class="form-group">
        <label>Mobile No: </label>
       <input type="number" name="Mobile No" class="form-control" placeholder="Mobile No">
    </div>

    <div class="form-group">
        <label> Meter No: </label>
       <input type="number" name="Meter No" class="form-control" placeholder="Meter No">
    </div>

    <div class="form-group">
        <label>Poll No: </label>
        <input type="number" name="Poll No" class="form-control" placeholder="Poll No">
    </div>

    <div class="form-group">
        <label>Reading Group: </label>
        <input name="Reading Group" class="form-control" placeholder="Reading Group">
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block btn-lg">Submit</button> 
    </div>
    <div class="form-group">
        <button type="cancel" class="btn btn-primary btn-block btn-lg">cancel</button> 
    </div>
</fieldset>
</form>

</div>
</div>
</div>
</div>
</div>