<head>
    <style>
        table,tr,th,td{
         border: solid black 5px;
         border-collapse: collapse;
        }
    </style>
</head>
<h2>Employee List</h2>
<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Department</th>
        <th>City</th>
        <th>Email</th>
    </tr>
    
    <tr>
        <td>Sadhana</td>
        <td>Tripathi</td>
        <td>D&IT</td>
        <td>Mumbai</td>
        <td>tripathiwer@yahoo.com</td>
    </tr>
    <tr>
        <td>Mohammed</td>
        <td>Sabir</td>
        <td>D&IT</td>
        <td>Mumbai</td>
        <td>sabircdbbd@yahoo.com</td>
    </tr>
    <tr>
        <td>Ankita</td>
        <td>Singh</td>
        <td>D&IT</td>
        <td>Mumbai</td>
        <td>ankitazzzz@yahoo.com</td>
    </tr>
    <tr>
        <td>Rima</td>
        <td>Mondal</td>
        <td>D&IT</td>
        <td>Kolkata</td>
        <td>rimariyazz@yahoo.com</td>
    </tr>
</table>